<div class="dialog-container">
  <div class="p-field">
    <label for="name">Name</label>
    <input type="text" pInputText id="name" [(ngModel)]="event.name" required autofocus />
    <small class="p-invalid" *ngIf="submitted && !event.name">Name is required.</small>
  </div>

  <div class="p-field">
    <label for="description">Description</label>
    <textarea id="description" pInputTextarea [(ngModel)]="event.condition" required rows="3" cols="20"></textarea>
  </div>

  <p-calendar [(ngModel)]="event.date" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"></p-calendar>
  <br><br>
  <button (click)="submit()">Submit</button>
</div>
