@import "../../../libs/style/src/assets/styles";

.base-dialog-style {
  &.ui-dialog {
    .ui-dialog-titlebar {
      background-color: #5e42a6;
      color: white;
    }

    .ui-dialog-content {
      background: none;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("assets/images/cats-pattern.jpg");
        z-index: -1;
        opacity: .9;
      }
    }
  }
}
